<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3 pull-left" style="padding: 1.5rem 0rem 1.5rem 0rem">
        <div style="height: 45px;"><img src="assets/images/logo.PNG" alt="PNCVFS"></div>
      </div>
      <div class="col-xs-1 pull-right select-type" style="padding: 1.5rem 0rem 1.5rem 0rem">
        <div style="height: 45px;display: flex;align-items: center;justify-content: center;"><img src="assets/images/gragrey.png" alt="PNCVFS"></div>
      </div>
      <div class="col-xs-1 pull-right select-type active" style="padding: 1.5rem 0rem 1.5rem 0rem">
        <div (click)="irEstadisticas()" style="height: 45px;display: flex;align-items: center;justify-content: center;"><img src="assets/images/grawogrey.png" alt="PNCVFS"></div>
      </div>
      <div class="col-xs-1 pull-right select-type" style="padding: 1.5rem 0rem 1.5rem 0rem">
        <div (click)="irHome()" style="height: 45px;display: flex;align-items: center;justify-content: center;"><img src="assets/images/wogrey.png" alt="PNCVFS"></div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
